@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body {
    background-image: url(./gambar/background.jpg);
    background-size: cover;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: white;
    top: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
}

header p {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
    flex-grow: 1;
}

header img {
    width: 60px;
    height: 60px;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding: 5px;
    z-index: 11;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #e0e0e0;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 100;
}

header:hover .sidebar,
.sidebar:hover {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    color: #333;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #d0d0d0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 150px 100px 100px 100px;
}

.card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info, .message-form {
    width: 40%;
}

.contact-info h2, .message-form h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.info-kami, .kirim-pesan {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}

.info-kami h3, .kirim-pesan h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
    resize: none;
}